<div class="card-container">
  <div
    class="grid grid-cols-1 lg:grid-cols-4 md:grid-cols-3 sm:grid-cols-2 gap-4 gap-x-12"
  >
    <div
      class="bg-[#EAEAEA] hover:bg-[#4E4C4C] transition-colors linear duration-500"
    >
      <figure class="pb-2 border-e-[.5rem] border-e-white">
        <a href="#" class="cursor-pointer">
          <img
            class="w-full h-full max-h-[160px] object-cover object-center translate-x-2 translate-y-2"
            src="../../img/Webp/Biok-1.webp"
            alt="photo1"
          />
        </a>
      </figure>
      <figcaption
        class="bg-[#EAEAEA] card-fig-container p-[0.5rem] ps-0 border-s-transparent"
      >
        <div class="py-6 bg-white ps-2">
          <p class="font-light"><span class="font-bold">01. </span> AXIS MAX</p>
        </div>
      </figcaption>
    </div>
  </div>
</div>
